<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TOC Network</title>
    <link rel="stylesheet" href="/assets/page/page.css" />
    <link rel="stylesheet" href="/assets/page/header.css" />
    <link rel="stylesheet" href="/assets/page/hero.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <div class="header">
    <a href="/?utm_source=site&utm_medium=header&utm_campaign=header_link">
      <h1 class="toclogo">TOC</h1>
      <h1 class="networklogo">Network</h1>
    </a>
  </div>
  <body>
    <!-- HERO HTML -->
    <div class="hero" id="large">
      <!-- ADD ID "SMALL" OR "LARGE" FOR DIFFERENT HEROS -->
      <h2 class="hero-subtitle">Welcome to the</h2>
      <h1 class="hero-title">TOC Network</h1>
      <h2 class="hero-subtitle">a 1.16+ Minecraft Server</h2>
      <div class="scroll-arrow">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="52px"
          viewBox="0 0 24 24"
          width="52px"
          fill="#FFFFFF"
        >
          <path d="M24 24H0V0h24v24z" fill="none" opacity=".87" />
          <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z" />
        </svg>
      </div>
    </div>
    <!-- END OF HERO HTML -->
    <div class="section-join" id="top">
      <h1 class="section-heading" style="color: #fff">Template Section</h1>
      <p class="section-body" style="color: #fff">
        Some text used to describe the what this section is about, some
        background information or an extra explanation on the subject.
      </p>
    </div>
  </body>
  <script src="/assets/page/page.js"></script>
</html>
